.counter-box {
    border: 1px solid black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.counter-button button{
    height: 100px;
    width: 300px;
    font-size: 40px;
}
.counter-number{
    height: 100px;
    width: 300px;
    text-align: center;
    font-size: 70px;
}